<div class="dashboard-container">

  <!-- SIDEBAR -->
  <aside class="sidebar">
    <h3 class="logo">Mi Dulce Compañía</h3>
    <nav>
      <a routerLink="/dashboard/productos" routerLinkActive="active">Productos</a>
      <a routerLink="/dashboard/usuarios" routerLinkActive="active">Usuarios</a>
      <a routerLink="/dashboard/roles" routerLinkActive="active">Roles</a>
    </nav>
    <button class="btn-logout" (click)="logout()">Cerrar sesión</button>
  </aside>

  <!-- CONTENIDO -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>

</div>
